
:root {
  --bgcolor: rgba(5, 10, 23)
}

body {
  background-color: var(--bgcolor);
  width: 100%;
  height: 100vh;
  margin: 0px;
  overflow: hidden;
  
  display: grid;
  place-items: center;
}

#wrapper{
  aspect-ratio: 1.628;
  width: 90vmin;
  position: relative;
  overflow: hidden;
}

#wrapper > .shape{
  overflow: hidden;
  position: absolute;
  width: 30%;
  height: 30%;
  transition: top, left, width, height, border-radius;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

#wrapper > .shape:nth-child(1){
  background-color: #DE9151;
}

#wrapper > .shape:nth-child(2){
  background-color: #F34213;
}

#wrapper > .shape:nth-child(3){
  background-color: #913827;
}

#wrapper > .shape:nth-child(4){
  background-color: #2E2E3A;
}

#wrapper > .shape:nth-child(5){
  background-color: #20A39E;
}

#wrapper > .shape:nth-child(6){
  background-color: #74BDBA;
}

#wrapper > .shape:nth-child(7){
  background-color: #C7D6D5;
}

#wrapper[data-config="1"] > .shape:nth-child(1){
  left: 0%;
  top: 0%;
  width: 20%;
  height: 50%;
}

#wrapper[data-config="1"] > .shape:nth-child(2){
  left: 20%;
  top: 0%;
  width: 30%;
  height: 50%;
}

#wrapper[data-config="1"] > .shape:nth-child(3){
  left: 50%;
  top: 0%;
  width: 50%;
  height: 100%;
}

#wrapper[data-config="1"] > .shape:nth-child(4){
  left: 0%;
  top: 50%;
  width: 30%;
  height: 50%;
}

#wrapper[data-config="1"] > .shape:nth-child(5){
  left: 30%;
  top: 50%;
  width: 20%;
  height: 50%;
}

#wrapper[data-config="1"] > .shape:nth-child(6){
  left: 70%;
  top: 50%;
  width: 30%;
  height: 50%;
}

#wrapper[data-config="1"] > .shape:nth-child(7){
  left: 85%;
  top: 75%;
  width: 15%;
  height: 25%;
}

#wrapper[data-config="2"] > .shape:nth-child(1){
  left: 0%;
  top: 0%;
  width: 10%;
  height: 50%;
}

#wrapper[data-config="2"] > .shape:nth-child(2){
  left: 10%;
  top: 0%;
  width: 15%;
  height: 70%;
}

#wrapper[data-config="2"] > .shape:nth-child(3){
  left: 25%;
  top: 20%;
  width: 15%;
  height: 75%;
}

#wrapper[data-config="2"] > .shape:nth-child(4){
  left: 40%;
  top: 20%;
  width: 10%;
  height: 50%;
}

#wrapper[data-config="2"] > .shape:nth-child(5){
  left: 50%;
  top: 5%;
  width: 20%;
  height: 90%;
}

#wrapper[data-config="2"] > .shape:nth-child(6){
  left: 70%;
  top: 10%;
  width: 20%;
  height: 80%;
}

#wrapper[data-config="2"] > .shape:nth-child(7){
  left: 90%;
  top: 40%;
  width: 10%;
  height: 60%;
}
